*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/build/
/gradlew.bat
/app/build/
/gradle.properties
/app/app.iml
/gradlew
/app/*.apk
/gradle
